Django==1.3.1
Flask==0.8
Jinja2==2.6
PyJWT==0.1.2
PyYAML==3.10
Werkzeug==0.8.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
dnspython==1.9.4
fbconsole==0.3
google-api-python-client==1.0beta7
httplib2==0.7.2
lockfile==0.9.1
nltk==2.0.1rc3
oauth2==1.5.211
poster==0.8.1
pyfacebook==1.0a2
python-gflags==2.0
pyxmpp2==2.0alpha2-git
requests==0.10.1
twilio==3.3.5
wsgiref==0.1.2
